/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "main/normalize";
@import "main/mixins";
@import "main/variables";
@import "main/buttons";


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 3.6em;
}

#nav-menu {
    padding-right: 1rem;
}

nav .btn-group {
    margin:  0.8rem 2.5rem 0 0;
}

@media(max-width: 48em){
  nav .btn-group {
    display: none;
 }
}

header {
    background: #f8f8f8;
}

header ul {
    margin: 0;
}

header li, 
header a {
    padding: 1.45em 0;
    color: #777;
    font-weight: bold;
}

section#intro-header {
    background: url('../img/red.jpg');
    background-size: cover;

    .wrap-headline {
        position: relative;
        padding-top: 20%;
        padding-bottom: 20%;
    
        h1,h2 {
            color: white;
        }

        h2 {
            font-size: 1.5rem;
        }

        hr {
            width: 10%;
        }

        .btn-default {
            background: rgba(255,255,255,0.5);
            border: none;
        }
    }

    form.signin {
        margin-top: 5rem;
    }
}



/* header form */
// .hidden-element {
//     display: none;
// } 



section#about {
    margin-top: 6.5rem;

img {
    margin-bottom: 5rem;
    }

    h3 {
        margin-top: 10rem;
        font-size: 25px;
    }

    p {
        linear-height: 1.5;
        font-size: 16px;
    }
}

section#features {
    background-color: #eef2f5;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
    text-align: center;

    * {
        color: #657C8E;
    }

    .feature {
        padding: 2rem 4rem;
        text-align: center;
    }

    .feature-tag {
        max-width: 10.7em;
        display: inline-block;
        text-align: left;
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    .fa {
        font-size: 2rem
    }

    .fa:hover {
        color: #FF7FD4;
    }

    .fa-heart {
        color: #E04C4C;
    }
}

section#pricing h3.price-headline {
   margin: 4rem 0 1.5rem 0;
}

section#pricing {

   .center-block {
      width: 90%;
   }

   .white-text {
    color: #fff;
    margin-top: 0;
   }

   thead {
      .success {
        background:  #78CFBF; 
      }

      .info {
        background:  #3EC6E0; 
      }

      .danger {
        background: #E3536C;
      }

   }

   tbody {
      .success {
        background:  #82DACA;
      }

      .info {
        background:  #53CFE9
      }

      .danger {
        background: #EB6379; 
      }


   }
}

section#newsletter {
    border-top: 1px solid #e0e0e0;
    padding-top: 3.2em;
    padding-bottom: 2em;
}


section#contact {
    form {
        padding-top: 9rem;
        padding-bottom: 3rem;
    }
}


section#team {
    margin: 5rem 0;
}

section#team li {
    margin: 0 3rem;
}

section#team h5 {
    font: {
        size: 1.5rem;
        weight: bold;
    }
}



footer {
    background:  #191919; 
    color:  #adadad; 
    margin-top: 3em;

    h5,img {
        margin-top: 5em;
        font-weight: bold;
    }

    address {
        margin-top: 5em 0 5em 0;
        color:  #5a5a5a; 
    }

    ul {
        margin-bottom: 5em;
    }

    address strong {
        color: #5a5a5a;
        display: block;
        padding-bottom: 0.62em;
        margin-top: 5em;
    }

    a {
        font-weight: 300;
        color: #5a5a5a;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
